html, body{
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#949AA7;
    background-color: #2c313c;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
h1{
    color: #ffffffde;
    font-weight: 200;
}

h2{
    color: #ffffffde;
    font-weight: 200;
}

h3{
    color: #ffffffde;
    font-weight: 200;
    font-size: 13px;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #1b1d2385;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #777777;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 

/* APP BASE */
.mainApp{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    background-image: none;
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 0 0 200px rgb(0, 0, 0) inset;
    
}
    
.rightPart > .topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: #1B1D23;
    -webkit-user-select: none;
    user-select:none;
}
    
.topBar > .titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBar > .titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.titleBar > .toggleButton{
    width: 45px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url('../icons/menu.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.25;
    cursor: pointer;
}

.titleBar > .toggleButton:hover{
    background-color: #272C36;
}

.titleBar > .toggleButton:active{
    background-color: #949AA7;
}

.titleBar > img{
    margin-left: 18px;
}


.titleBar > .title {
    width: 100%;
    line-height: 30px;
    margin-top: 5px;
    padding-bottom: 5px;
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-start;
}  
    
.topBar > .titleBarBtns{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
}

.titleBarBtns > .topBtn{
    width: 48px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    cursor: pointer;
}

.titleBarBtns > .topBtn:hover{
    background-color: #272C36;
}

.titleBarBtns > .topBtn:active{
    background-color: #949AA7;
}

.titleBarBtns > .minimizeBtn{
    background-image: url('../icons/minimize.svg');
    background-size: 10px;
}

.titleBarBtns > .maximizeBtn{
    background-image: url('../icons/maximize.svg');
    background-size: 10px;
}

.titleBarBtns > .restoreBtn{
    background-image: url('../icons/restore.svg');
    background-size: 10px;
}

.titleBarBtns > .closeBtn{
    background-image: url('../icons/close.svg');
    background-size: 10px;
}

.titleBarBtns > .closeBtn:active{
    background-color: #750202;
}

.mainApp > .contentArea {
    width: 100%;
    height: 100%;
}

/* LEFT MENU (SETTINGS) */

.contentArea > .leftMenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #161618c0;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}

.line-vertical{
    height: 100%;
    border-left: 2px solid rgb(156, 156, 156);
    
}

.contentArea > .leftMenu > button{
    width: 70%;
    color: #c7c7c7c5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 300;
    background-color: transparent;
    border: transparent;
    padding: 20px;
    transition: 0.2s ease; /* Added transition here for smooth size change */
    white-space: nowrap; /* Prevent text wrapping */
}

.contentArea > .leftMenu > button:hover{
    color: #ffffff;
    font-size: x-large;
    font-weight: 350;
    transition: 0.2s ease;
}

.contentArea > .rightPart{
    transition: margin-left .5s;
    height: 100%;
}

/* MAIN LAYOUT */

.mainLayout > .mainLayoutTop > .imgContainer{
    border-radius: 50%;
    border: #1B1D23 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: #272c3693;
}

.mainLayout {
    background-color: transparent;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}

.mainLayoutTop {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.mainLayoutMiddle {
    flex: 1;
    padding: 10px;
}

.mainLayoutBottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #11111160;
}

.bottomLeftPart{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottomMiddlePart{
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottomRightPart{
    flex: 1;
    width: 100%;
}


.mainLayout > .mainLayoutBottom > .bottomLeftPart > .dropdownBtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    font-weight: 400;
    border: transparent;
    color: white;
    font-size: 2vw;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.dropdownBtn:hover{
    transform: translateY(-2px);
}

.dropdownBtn:active{
    transform: translateY(0px);
}

.mainLayout > .mainLayoutBottom > .bottomLeftPart > .dropdown-content {
    display: flex;
    background-color: transparent;
    width:20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column-reverse;
    bottom: 20%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    min-height: 0%;
    max-height: 30%;
    overflow-y: auto;
    position: absolute;
}

.mainLayout > .mainLayoutBottom > .bottomLeftPart > .dropdown-content.show {
    transform: scaleY(1);
    opacity: 1;
}

.mainLayout > .mainLayoutBottom > .bottomLeftPart > .dropdown-content > .versionbtn {
    background-color: #1b1d2385;
    border: transparent;
    height: 15%;
    line-height: 70px;
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainLayout > .mainLayoutBottom > .bottomLeftPart > .dropdown-content > .versionbtn > a{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

.dropdown-content > .versionbtn:hover{
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0px 0px 8px #FFFFFF;
}


/* PLAY BUTTON */ 

.playButton{
    color: #ffffff;
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.playButton:hover {
    color: #fff;
    transform: translateY(-4px);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.075), 0 0 10px rgba(255, 255, 255, 0.075), 0px 0px 8px #FFFFFF;
}

.playButton:active {
    transform: translateY(0);
}

/* CLIENTS ICONS */

.vanilla_icon{
    width: 50px;
    height: 50px;
    background-image: url('../icons/vanilla.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}


/* SETTINGS LAYOUT */

.settingsLayout{
    display: none;
    background-color: #272C36;
    height: calc(100% - 40px);
}

.settingsLayout > .closeSettingsBtn{
    top: 55px;
    right: 30px;
    border: transparent;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #3f3f47;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    transform: scale(1);
    transition: 0.3s;
    cursor: pointer;
    
}

.settingsLayout > .closeSettingsBtn:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.add_install_btn{
    background-color: transparent;
    width: 150px;
    height:40px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    transition: 0.3s;
}

.add_install_btn:hover{
    transition: 0.3s;
    background-color:#0d522a;
}

.add_install_btn > p{
    background-color: transparent;
    border: transparent;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

/* ACCOUNT */

.accountSettings{
    display: none;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px;
    padding-left: 30px;
    overflow-y: auto;
}

/* SKINS */

.skins-grid-container {
    
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 10px;
}


.skin-item {
    width: 200px;
    height: 350px;
    background-color: #292929;
    border: 0px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* GAME */

.gameSettings{
    display: none;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px;
    padding-left: 30px;
    overflow-y: auto;
}

.number_input{
    background-color: #1B1D23;
    border: 1px whitesmoke solid;
    width: 55px;
    height: 25px;
    color: white;
    
}

.text_input{
    background-color: #1B1D23;
    border: 0px whitesmoke solid;
    width: 250px;
    height: 25px;
    color: white;
    
}

.number_input:disabled{
    background-color: #313338;
    border: 1px rgb(175, 175, 175) solid;
    width: 55px;
    height: 25px;
    color: white;
    cursor:not-allowed;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SKIN */

.skinSettings{
    display: none;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px;
    padding-left: 30px;
    overflow-y: auto;
}

.skinSettings > .newSkinBtn{
    margin-top: 2%;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    width: 130px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 2%;
    transition: 0.2s;
    transform: scale(1);
}

.skinSettings > .newSkinBtn:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.skinSettings > .newSkinBtn:active{
    transition: 0.2s;
    box-shadow: 1px -1px 14px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 1px -1px 14px 0px rgba(255,255,255,0.75);
}

.skinAdd {
    display: none;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.skinAdd > .dropdown > .dropbtn {
    background-color: #6b6b6b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}
  
.skinAdd > .dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
    width:fit-content;
    transition: 0.4s;
    margin-bottom: 20px;
}
  
.skinAdd > .dropdown > .dropdown-content {
    display: none;
    position: absolute;
    background-color: #56585c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.4s;
    max-height: 200px;
    margin-bottom: 20px;
    overflow-y: auto;
}
  
.skinAdd > .dropdown > .dropdown-content a {
    color: rgb(201, 201, 201);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}
  
.skinAdd > .dropdown > .dropdown-content a:hover {background-color: #252525}
  
.skinAdd > .dropdown:hover .dropdown-content {
    transition: 0.4s;
    display: block;
}
  
.skinAdd > .dropdown:hover .dropbtn {
    transition: 0.4s;
    background-color: #555555;
}

/* MODS */

.modsSettings{
    display: none;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px;
    padding-left: 30px;
    overflow-y: auto;
}

/* CONFIGS */

.configsSettings{
    display: none;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px;
    padding-left: 30px;
    overflow-y: auto;
}

.configsSettings > .newConfigBtn{
    margin-top: 2%;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    width: 130px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 2%;
    transition: 0.2s;
    transform: scale(1);
}

.configsSettings > .newConfigBtn:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.configsSettings > .newConfigBtn:active{
    transition: 0.2s;
    box-shadow: 1px -1px 14px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 1px -1px 14px 0px rgba(255,255,255,0.75);
}

.configsSettings > .installedConfigsContainer{
    height: 100%;
    width:95%;
    margin-top:20px;
    line-height: 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
}

.configsSettings > .installedConfigsContainer > .installedConfig{
    background-color: #2d323b;
    color: #e4e4e4;
    border: transparent;
    height: 15%;
    line-height: 70px;
    margin: 5px;
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selectConfigButton{
    background-color: transparent;
    width: 150px;
    height:40px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    transition: 0.3s;
}

.selectConfigButton:hover{
    transition: 0.3s;
    background-color:#0d522a;
}

.selectConfigButton > p{
    background-color: transparent;
    border: transparent;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.deleteConfigButton{
    background-color: transparent;
    width: 40px;
    height:40px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.deleteConfigButton:hover{
    transition: 0.3s;
    background-color:#5e0c0c;
}


.configInstall{
    display: none;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 30px);
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.configInstall > .dropdown > .dropbtn {
    background-color: #6b6b6b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}
  
.configInstall > .dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
    width:fit-content;
    transition: 0.4s;
    margin-bottom: 20px;
}
  
.configInstall > .dropdown > .dropdown-content {
    display: none;
    position: absolute;
    background-color: #56585c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.4s;
    max-height: 200px;
    margin-bottom: 20px;
    overflow-y: auto;
}
  
.configInstall > .dropdown > .dropdown-content a {
    color: rgb(201, 201, 201);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}
  
.configInstall > .dropdown > .dropdown-content a:hover {background-color: #252525}
  
.configInstall > .dropdown:hover .dropdown-content {
    transition: 0.4s;
    display: block;
}
  
.configInstall > .dropdown:hover .dropbtn {
    transition: 0.4s;
    background-color: #555555;
}


/* LAUNCHER */

.launcherSettings{
    display: none;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px;
    padding-left: 30px;
    overflow-y: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #0d522a;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #0d522a;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.FileSelActions {
    display: flex;
    width: 90%;
}

.FileSelIcon {
    display: flex;
    align-items: center;
    background: rgba(126, 126, 126, 0.57);
    border-radius: 3px 0px 0px 3px;
    padding: 5px;
    transition: 0.25s ease;
}

.FileSelIcon > svg{
    fill: #dbdbdb;
    padding: 4px;
}

.FileSelVal {
    border: transparent;
    width: 100%;
    max-width: 800px;
    padding: 5px 10px;
    font-size: 12px;
    height: 30px;
    background-color: #d8d8d8;
}

.FileSelButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px;
    border-radius: 0px 3px 3px 0px;
    font-size: 12px;
    padding: 10px;
    color: white;
    cursor: pointer;
    background: rgba(126, 126, 126, 0.57);
    transition: 0.25s ease;
    white-space: nowrap;
    outline: none;
}

.launcherSettings > .updateLauncherBtn {
    margin-top: 2%;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    width: 100px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 2%;
    transition: 0.2s;
    transform: scale(1);
}

.launcherSettings > .updateLauncherBtn:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.launcherSettings > .updateLauncherBtn:active{
    transition: 0.2s;
    box-shadow: 1px -1px 14px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 1px -1px 14px 0px rgba(255,255,255,0.75);
}

.launcherSettings > .updateLauncherBtn:disabled {
    cursor: not-allowed;
    border: 1px solid #cccccc;
    color: #cccccc;
}

.launcherSettings > .updateLauncherBtn:disabled:hover {
    transform: none;
}

.launcherSettings > .updateLauncherBtn:disabled:active {
    box-shadow: none;
}

.bg-images-flex-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 70px);
}
.bg-images-flex-container > img {
    border: rgb(173, 173, 173) 1px solid;
    margin-top: 20px;
    margin-left: 20px;
    width: 75px;
    transition: 0.3s;
}

.bg-images-flex-container > img:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.bg-images-flex-container> .add-button {
    display: flex;
    width: 75px;
    height: 42px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 20px;
    border: rgb(173, 173, 173) 1px solid;
    cursor: pointer;
    transition: 0.3s;
}

.bg-images-flex-container> .add-button:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

/* ABOUT */

.aboutSettings{
    display: none;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px;
    padding-left: 30px;
    overflow-y: auto;
    
}

.aboutSettings > .reportBugBtn {
    margin-top: 2%;
    font-weight: 200;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    width: 100px;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 2%;
    transition: 0.2s;
    transform: scale(1);
}

.aboutSettings > .reportBugBtn:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.aboutSettings > .reportBugBtn:active{
    transition: 0.2s;
    box-shadow: 1px -1px 14px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 1px -1px 14px 0px rgba(255,255,255,0.75);
}

.aboutSettings > #electron_link{
    color:#949AA7;
    text-decoration: none;
}

.aboutSettings > #electron_link:hover{
    text-decoration: underline;
}

.aboutSettings > #fontawesome_link{
    color:#949AA7;
    text-decoration: none;
}

.aboutSettings > #fontawesome_link:hover{
    text-decoration: underline;
}

.aboutSettings > #skinview3d_link{
    color:#949AA7;
    text-decoration: none;
}

.aboutSettings > #skinview3d_link:hover{
    text-decoration: underline;
}

.aboutSettings > #complementary_link{
    color:#949AA7;
    text-decoration: none;
}

.aboutSettings > #complementary_link:hover{
    text-decoration: underline;
}

.aboutSettings > #icons8_link{
    color:#949AA7;
    text-decoration: none;
}

.aboutSettings > #icons8_link:hover{
    text-decoration: underline;
}

#discordSVG {
    fill: #ffffff;
    transform: scale(1);
    transition: 0.2s;
    margin: 2%;
}
#discordSVG:hover{
    fill: #7288d9;
    transform: scale(1.3);
    transition: 0.2s;
}

#youtubeSVG{
    fill: #ffffff;
    transform: scale(1);
    transition: 0.2s;
    margin: 2%;
}

#youtubeSVG:hover{
    fill: #bb2323;
    transform: scale(1.3);
    transition: 0.2s;
}

#githubSVG{
    fill: #ffffff;
    transform: scale(1);
    transition: 0.2s;
    margin: 2%;
}

#githubSVG:hover{
    fill: #111111;
    transform: scale(1.2);
    transition: 0.2s;
}

#webSVG{
    fill: #ffffff;
    transform: scale(1);
    transition: 0.2s;
    margin: 2%;
}

#webSVG:hover{
    fill: #3047cc;
    transform: scale(1.2);
    transition: 0.2s;
}

/* LOGIN PAGE */

.contentContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.accountSelectionList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btncontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10%;
}

.btncontainer button{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 2px solid #e7e7e7;
    background-color: transparent;
    border-radius: 6px;
    padding: 10px;
    transition: .2s;

    
}

.btncontainer button:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1), 0 0 15px 10px rgba(255, 255, 255, 0.08), 0 0 20px 15px rgba(255, 255, 255, 0.03);
    transition: .2s;
}

.button-text {
    flex: 1; /* Allow text to take up available space */
    min-width: 0; /* Prevent text from overflowing container */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 8px;
    color: white;
}
.button-icon {
    flex-shrink: 0; /* Prevent SVG from resizing */
}



.centerContainer{
    display: flex;
    flex-direction: column;
}